@model FoxNetSoft.Plugin.Feed.ImportManager.Models.ImportTemplateModel
@using FoxNetSoft.Plugin.Feed.ImportManager.Models
@using Microsoft.AspNetCore.Routing
<div class="cards-group">
    @if (Model.Id > 0)
    {
        <div class="card card-default">
            <div class="card-body">
                @await Html.PartialAsync("Table", new DataTablesModel
{
Name = "importtemplate-report-grid",
UrlRead = new DataUrl("ImportReportList", "ImportManager", new RouteValueDictionary { [nameof(Model.ImportTemplateSearchModel.ImportTemplateId)] = Model.ImportTemplateSearchModel.ImportTemplateId }),
UrlDelete = new DataUrl("ImportReportDelete", "ImportManager", null),
Length = Model.ImportTemplateSearchModel.PageSize,
LengthMenu = Model.ImportTemplateSearchModel.AvailablePageSizes,
ColumnCollection = new List<ColumnProperty>
{
new ColumnProperty(nameof(ImportReportModel.CreatedOn))
{
Title = T("Admin.FoxNetSoft.Plugin.Feed.ImportManager.ImportReport.Fields.CreatedOn").Text,
Width = "200",
Render = new RenderDate()
},
new ColumnProperty(nameof(ImportReportModel.ReportLevel))
{
Title = T("Admin.FoxNetSoft.Plugin.Feed.ImportManager.ImportReport.Fields.ReportLevel").Text,
Width = "150"
},
new ColumnProperty(nameof(ImportReportModel.FullMessage))
{
Title = T("Admin.FoxNetSoft.Plugin.Feed.ImportManager.ImportReport.Fields.FullMessage").Text,
Encode = false
},
new ColumnProperty(nameof(ImportReportModel.Id))
{
Title = T("Admin.Common.Delete").Text,
Width = "100",
Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
ClassName = NopColumnClassDefaults.Button
}
}
})

                <div class="panel-footer">
                    <input type="submit" id="btnRefreshImportReport" name="btnRefreshImportReport" style="display: none" />
                    <script>
                        $(document).ready(function () {
                            $('#btnRefreshImportReport').click(function () {
                                //refresh grid
                                updateTable('#importtemplate-report--grid');

                                //return false to don't reload a page
                                return false;
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="card card-default">
            <div class="card-body">
                @T("Admin.FoxNetSoft.Plugin.Feed.ImportManager.ImportReport.SaveBeforeEdit")
            </div>
        </div>
    }
</div>
